body {
    background: #007aff !important;
}
nav {
    height: 4vh;
    min-height: 75px;
    padding: 1rem 1rem !important;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.question-footer {
    border-top: 1px solid lightgray;
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
}

.quizcard {
    width: 30rem;
}